.git
.gitignore
.pnpm-store
**/.env
**/.env.*
!**/.env.example
**/.next
**/.pytest_cache
**/.venv
**/__pycache__
**/node_modules
**/*.py[cod]
coverage
dist
postman
submission
supabase
CasePilot_Initial_Screening_Proposal-1.pdf

